 <footer>
            <hr>
            CST336: Internet Programming Homework 4. 2020&copy; Randolph <br />
            <b>Sources:</b>
            <a href="https://tekhattan.com/blog/hardware/ssd-vs-hdd-speed-lifespan-and-reliability/">Tekhatten</a>
            <a href="https://www.thecomputercellar.com/hard-drives-explained/">The Computer Cellar</a>
            <a href="https://www.pcmag.com/news/ssd-vs-hdd-whats-the-difference">PcMag</a>
        
        </footer>
    </body>

</html>