<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> Different Types of Storage </title>
       <link rel="stylesheet" href="/css/styles.css" />
    </head>
     
    <body>
        <header>
            <h1>Computer Data Storage Technologies</h1>
        </header>
        <hr />
  <br />
        <nav>
            <a href="/">Home</a>
            <a href="/hdd">HDD</a>
            <a href="/ssd">SSD</a>
            <a href="/sshd">SSHD</a>
        </nav>

        <br /><br />