<%- include('partials/header.ejs') %>
        
        <div class = "main">
                    <img src="img/hdd.png" alt="Picture of HDD internals"/>
                    
           <article>
            <h1>Hardware and Construction</h1>
            <p>HDD stands for hard disk drive. Physical hard drives are non volatile storage devices that utilize a set of magnetic platters to store 
            data. A magnetic head on a moving actuator arm reads the data. Data is stored in a random-access way that individual blocks of data 
            do not need to be adjacent in memory to be related. The are quite suscetiple to damage and data loss as a result of physical shock. They are comparatively cheaper than SSDs.</p>
            </article>
            
            <article>
            <h1>Transfer Speeds</h1>
           <p>The transfer speeds on hard disk drives are on average 80MB/s-160MB/s.The most common rotational speeds you will see 
           HDDs run at are 5400rpm, 7200rpm, and 10000rpm. Generally, the lower the rpm, the slower the transfer speeds will be, with a 5400rpm 
            driving having 33% longer average access times of a 7200rpm drive.</p>
            
            </article>
        </div>
       
<%- include('partials/footer.ejs') %>
        
       