    <%- include('partials/header.ejs') %>
       
        <main> 
            <figure>
                  
                 <img class = one src="img/trio.webp" alt="Picture of Three types of memory"/> 
                  <figcaption>As solid state flash storage becomes more accesible, where do hard drives stand?</figcaption>  
            </figure>
        
            <div id="paragraph">
                 <br />
                
                <p>The purpose of this website is to present several different storage
                technologies that can be utilized by a computer. For decades, the hard disk drive stood as the most common type of storage to install in your computer. 
                We will take a look at two other methods of storing a computer's data, specifically, the operating system. Flash memory has created both hybrid 
                hard/flash drives, as well as fully flash memory storage devices called SSDs. The two categories discussed will be the hardware involved and the speeds at which each drive can transfer data.</p>
             
                This website endorsed by <%= name %> .
                
            </div>
        </main>
        

<%- include('partials/footer.ejs') %>



