<%- include('partials/header.ejs') %>
        
        <div class = "main">
                    <img src="img/ssd.png" alt="Picture of SSD internals"/>
                    
           <article>
            <h1>Hardware and Construction</h1>
            <p>SSD stands for solid state drive. Flash memory and integrated circuit 
            assemblies work in tandem to store data persistently with no moving parts. 
            This makes them much more resistant to physical shock than a traditional HDD. 
            Because they are a newer technology, SSDs cost more per GB than a HDD.</p>
            </article>
            
            <article>
            <h1>Transfer Speeds</h1>
            <p>This is the area where SSDs shine above a HDD. The average transfer speeds of a Sata SSD are around 400MB/s-500MB/s. 
            If it is a NVME SSD that plugs into the computer's motherboard, speeds could approach 7GB/s. That kind of blistering speed has led to SSDs becoming the new standard for personal computers.</p>
            
            </article>

          
        </div>
       
       <%- include('partials/footer.ejs') %>