    <%- include('partials/header.ejs') %>
        
        <div class = "main">
                    <img src="img/sshd.png" alt="Picture of SHDD internals"/>
                    
           <article>
            <h1>Hardware and Construction</h1>
            <p>SSHDs try to combine the best of both worlds in regards to SSDs and HDDs. These are hybrid drives are essentially normal HDDs, with a decent amount of flash memory added in.
            The operating system is often installed on the flash memory as the most accessed files are prioritized by the drive. These drives are still susceptible tp physical shock, 
            and also cost more than a standard HDD.</p>
            </article>
            
            <article>
            <h1>Transfer Speeds</h1>
            <p>Transfer speeds are comparable to a HDD, but there are some improvements when it comes to opening applications or booting a computer that utilizes a SSHD.
            The appeal of a hybrid drive falls off each day as SSD prices drop. The technolohgy is innovative, but consumers have chosen to make drives featuring entirely flash memory their choice.
            So while it is certainly a better option than a traditional HDD, the user base of these drives is not that large.
            
            </p>
            </article>
        </div>

<%- include('partials/footer.ejs') %>